@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;600&display=swap");

.box {
  position: absolute;
  text-align: center;
  background-color: rgba(255, 166, 0, 0.5);
  width: 1080px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;

  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.inputS {
  position: absolute;
  right: 46%;
  top: 88%;
  text-align: center;
  border-radius: 15px 0 0 15px;
  padding: 5px;
  width: 160px;
  height: 30px;
  border-style: none;
  transform: translate(-50%, -50%);
}

.inputS::placeholder {
  text-align: center;
  color: black;
}

.btn {
  position: absolute;
  left: 54%;
  top: 88%;
  border-radius: 0 15px 15px 0;
  width: 160px;
  height: 40px;
  background-color: white;
  border-style: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.titulo {
  margin-top: 35px;
  color: white;
  text-align: center;
}

.imgLuigi {
  width: 200px;
  position: absolute;
  left: 75px;
  top: 300px;
  transform: translate(-50%, -50%);
}


/* Card */

.card {
  width: 100px;
  height: 100px;
  padding: 2rem 1rem;
  background: #fff;
  position:relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(20px);
}

.card:before {
  content:"";
  position:absolute;
  top:0;
  left: 0;
  display: block;
  width:100%;
  height:100%;
  background: linear-gradient(30deg, rgba(253,29,29,1) 0%, rgba(252,176,69,0.3) 100%);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.info{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info{
  opacity: 1;
  transform: translateY(0px);
}
